.todo-search {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-custom {
    padding: 10px;
    min-width: 70%;
    margin-right: 30px;
    font-size: 1rem;
}

.custom-button {
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #9bc955;
    font-size: 16px;
}
.list-style {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: white;
}
.list-item {
    font-size: 2rem;
    color: white;

}
.optimistic {
    color: #957e7e;
}